node_modules/
*-debug.log
.env
.env.*
service-account*.json
**/service-account*.json
serviceAccount*.json
**/serviceAccount*.json
*-firebase-admin.json
**/*-firebase-admin.json
firebase-admin-key*.json
**/firebase-admin-key*.json
